/* body{
    /* background-color:rgb(255, 153, 102, 0.2); */ 

.labelPublicacion{
    font-size:12px;
}

h3{
    text-shadow: black;
}

/* #card {  */
/* height: 140px;
width: 290px;
left: 25px;
right: 15px; */
/* }  */
/* 
#icon_prefix2 {
width: 211px;
} */
.logi{
    background-color: #8bc34a;
}

body{
   /* background-image: url("../images/fondologin1.jpg"); */
   background-repeat:no-repeat;
   background-size: cover;
   height: 100%;
}

html{
    height: 100%;
}

#brand-logo1, #brand-logo2{
    font-family: 'Julius Sans One', sans-serif;
}

.card .card-image img {
    .card .card-image img {
        display: center;
        border-radius: 8px 8px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
    }
    
    .card .card-image img {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    img {
        border-style: none;
    }
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
}
